<div data-ng-controller="accountController" class="container">
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
            <form name="addaccount" data-ng-show="addMode" style="width:600px;margin:0px auto;">
                <div class="form-group">
                    <label for="uname" class="col-sm-3 control-label">User Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="uname" placeholder="please enter your user name" data-ng-model="newaccount.UserName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class="col-sm-3 control-label">First Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="fname" placeholder="please enter your first name" data-ng-model="newaccount.FirstName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lname" class="col-sm-3 control-label">Last Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="please enter your last name" data-ng-model="newaccount.LastName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email Address:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" placeholder="please enter your email address" data-ng-model="newaccount.Email" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwd" class="col-sm-3 control-label">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="passwd" placeholder="please enter your password" data-ng-model="newaccount.Password" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cpasswd" class="col-sm-3 control-label">Confirm Password:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="cpasswd" placeholder="please re-enter your password" data-ng-model="newaccount.ConfirmPassword" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addaccount.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <td>UserName</td>
                        <td>FirstName</td>
                        <td>LastName</td>
                        <th>Email</th>
                        <th>Level</th>
                        <th>Join Date</th>
                    </tr>
                    <tr data-ng-repeat="account in accounts">
                        <td hidden="true"><strong hiddata-ng-hide="account.editMode">{{ account.id }}</strong></td>
                        <td>
                            <p data-ng-hide="False">{{ account.userName }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="account.editMode">{{ account.firstName }}</p>
                            <input data-ng-show="account.editMode" type="text" data-ng-model="account.firstName" />
                        </td>
                        <td>
                            <p data-ng-hide="account.editMode">{{ account.lastName }}</p>
                            <input data-ng-show="account.editMode" type="text" data-ng-model="account.lastName" />
                        </td>
                        <td>
                            <p data-ng-hide="account.editMode">{{ account.email }}</p>
                            <input data-ng-show="account.editMode" type="text" data-ng-model="account.email" />
                        </td>
                        <td>
                            <p data-ng-hide="False">{{ account.level }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="False">{{ account.joinDate }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="account.editMode"><a data-ng-click="toggleEdit(account)" href="javascript:;">Edit</a> | <a data-ng-click="deleteaccount(account)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="account.editMode"><a data-ng-click="save(account)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(account)" href="javascript:;">Cancel</a></p>
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
        </div>
    </div>
    <div id="mydiv" data-ng-show="loading">
        <img src="Images/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>